.spong {
    background-color: #fee847;
    width: 450px;
    height: 450px;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    border: 5px solid #808940;
    border-radius: 10px;
}

.bok1 {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background-color: #c5c800;
    margin: 30px;
    transform: rotate(140deg);
}

.bok2 {
    width: 30px;
    height: 50px;
    border-radius: 50%;
    background-color: #c5c800;
    margin: 20px 20px 20px 50px;
    position: absolute;
    bottom: 0;
    transform: rotate(20deg);
}

.bok3 {
    width: 20px;
    height: 30px;
    border-radius: 50%;
    background-color: #c5c800;
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(30deg);
}

.bok4 {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background-color: #c5c800;
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.eyes {
    display: flex;
    justify-content: center;
}

.eye {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bow {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #059bc6;
    border: 4px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bowbow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    border: 4px solid;
    position: relative;
    right: 10px;
}

.sink1 {
    position: relative;
    bottom: 65px;
    width: 30px;
    height: 7px;
    background-color: black;
    transform: rotate(60deg);
}

.sink2 {
    position: relative;
    bottom: 82px;
    width: 30px;
    height: 7px;
    left: 13px;
    background-color: black;
    transform: rotate(90deg);
}

.sink3 {
    position: relative;
    bottom: 65px;
    width: 30px;
    height: 7px;
    background-color: black;
    transform: rotate(120deg);
}

.noisy {
    width: 40px;
    height: 50px;
    border: 5px solid;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 40%;
    border-bottom: none;
    bottom: 40px;
}

.mounnnth {
    width: 200px;
    height: 80px;
    border: 5px solid;
    position: relative;
    border-radius: 50%;
    border-top: none;
    border-right: none;
    border-left: none;
    bottom: 120px;
}

.thetss {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 5px solid;
    float: left;
    position: relative;
    left: 45%;
    transform: translate(-50%);
    bottom: 125px;
}

.hamra {
    width: 40px;
    height: 40px;
    border: 3px solid red;
    border-bottom: none;
    border-radius: 40%;
    bottom: 120px;
    position: relative;
}

.hamra:first-child {
    left: 23px;
}

.hamra:last-child {
    right: 23px;
}

.flc {
    display: flex;
    justify-content: center;
}

.suiz1 {
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
    right: 50px;
    border-top-left-radius: 50%;
    border: 2px solid;
}

.suiz1::before {
    content: "";
    display: block;
    width: 20px;
    height: 250px;
    background-color: #fee847;
    position: relative;
    top: 30px;
    border: 2px solid;
    border-radius: 30px;
    z-index: -1;
    transform: rotate(5deg);
}

.suiz2 {
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
    left: 440px;
    border-top-right-radius: 50%;
    bottom: 50px;
    border: 2px solid;
}

.suiz2::before {
    content: "";
    display: block;
    width: 20px;
    height: 250px;
    background-color: #fee847;
    position: relative;
    top: 30px;
    left: 20px;
    border: 2px solid;
    border-radius: 30px;
    z-index: -1;
    transform: rotate(-5deg);
}