* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P";
}

body {
  height: 100vh;
  overflow: hidden;
  position: relative;

  @media (max-width: 850px) {
    overflow-y: auto;
  }
}

.container {
  float: right;
  width: 400px;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  left: -30px;
  top: 100px;
  zoom: 120%;

  @media (max-width: 850px) {
    margin-top: 550px;
  }
}

.container:hover .hand11 {
  transform: rotate(220deg);
  bottom: 340px;
  right: 100px;
  transition: 500ms;
}

.body1 {
  background: rgb(252, 218, 109);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 200px;
  height: 300px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: inset 0 -10px 10px 3px #cc9e24;
  background: #fcda6d
}

.hairs {
  display: flex;
  gap: 25px;
  height: 80px;
}

.hair {
  width: 100px;
  height: 50px;
  transform: rotate(150deg);
  position: relative;
  top: 10px;
  left: 20px;
  border: 3px solid #555555;
  border-right: none;
  border-top: none;
  border-radius: 100%;
}

.hair11 {
  width: 100px;
  height: 50px;
  transform: rotate(150deg);
  position: relative;
  bottom: 10px;
  left: 20px;
  border: 3px solid #555555;
  border-right: none;
  border-top: none;
  border-radius: 100%;
}

.hair22 {
  width: 100px;
  height: 50px;
  transform: rotate(160deg);
  position: relative;
  bottom: 20px;
  left: 20px;
  border: 3px solid #555555;
  border-right: none;
  border-top: none;
  border-radius: 100%;
}

.hair55 {
  width: 100px;
  height: 50px;
  transform: rotate(20deg);
  position: relative;
  bottom: 20px;
  right: 20px;
  border: 3px solid #555555;
  border-right: none;
  border-bottom: none;
  border-radius: 100%;
}

.hair66 {
  width: 100px;
  height: 50px;
  transform: rotate(30deg);
  position: relative;
  bottom: 10px;
  right: 20px;
  border: 3px solid #555555;
  border-right: none;
  border-bottom: none;
  border-radius: 100%;
}

.hair77 {
  width: 100px;
  height: 50px;
  transform: rotate(30deg);
  position: relative;
  right: 20px;
  top: 1px;
  border: 3px solid #555555;
  border-right: none;
  border-bottom: none;
  border-radius: 100%;
}

.eyes1 {
  display: flex;
  justify-content: center;
}

.eye11,
.eye22 {
  border: 10px solid #929092;
  width: 100px;
  height: 80px;
  border-radius: 50%;
}

.pupil {
  background-color: aliceblue;
  width: 59px;
  height: 53px;
  border-radius: 45%;
  position: relative;
  top: 3px;
  left: 0.6px;
}

.bEye {
  background-color: #5b3f3c;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.both:first-child {
  transform: rotate(0deg);
  position: relative;
  right: 0px;
}

.both:last-child {
  transform: rotate(0deg);
  position: relative;
  left: 0px
}

.partip1 {
  background-color: #222222;
  width: 20px;
  height: 10px;
  border-radius: 4px;
  position: relative;
  top: 30px;
  box-shadow: 0 1px 5px 0px #222;
}

.month {
  width: 70px;
  height: 30px;
  position: relative;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 50%;
  background: linear-gradient(rgb(34, 34, 34), rgb(189, 115, 106) 99%);
  border-radius: 10rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}

.month::after {
  content: "";
  display: block;
  position: relative;
  width: 100px;
  height: 30px;
  bottom: 30px;
  right: 15px;
  background-color: #fcda6d;
  border-radius: 0 0 50% 50%;
}

.teth1 {
  background-color: #e6e6e6;
  height: 10px;
  width: 16px;
  border-radius: 40%;
  position: relative;
  top: 3px;
}

.teth2 {
  background-color: #e6e6e6;
  height: 10px;
  width: 16px;
  border-radius: 40%;
  position: relative;
  top: 3px;
}

.teth3 {
  background-color: #e6e6e6;
  height: 10px;
  width: 16px;
  border-radius: 40%;
  position: relative;
  top: 3px;
}

.teth4 {
  background-color: #e6e6e6;
  height: 10px;
  width: 16px;
  border-radius: 40%;
  position: relative;
  top: 3px;
}

.flex {
  display: flex;
  gap: 0.6px;
  justify-content: center;
}

.one {
  width: 150px;
  height: 80px;
  background: #146696;
  border-radius: 10px;
  margin-top: 50px;
  margin-inline: auto;
  border: 2px dotted #146696;
}

.two {
  width: 20px;
  height: 70px;
  background: #146696;
  border-radius: 0 0 10px;
  position: relative;
  bottom: 120px;
  left: 10px;
  transform: rotate(130deg);
  border: 2px dotted #146696;
}

.three {
  width: 20px;
  height: 70px;
  background: #146696;
  border-radius: 0 10px 0 0;
  position: relative;
  bottom: 190px;
  left: 170px;
  transform: rotate(50deg);
  border: 2px dotted #146696;
}

.four {
  width: 200px;
  height: 60px;
  background: #146696;
  border-radius: 0 0 30px 30px;
  margin-inline: auto;
  border: 2px dotted #146696;
  position: relative;
  bottom: 160px;
  z-index: -1;
}

.hands {
  height: 10px;
}

.hand11 {
  width: 130px;
  height: 30px;
  border-radius: 20px;
  background-color: #fcda6d;
  position: relative;
  transform: rotate(110deg);
  bottom: 250px;
  right: 80px;
  z-index: -1;
}

.hand22 {
  width: 130px;
  height: 30px;
  border-radius: 20px;
  background-color: #fcda6d;
  position: relative;
  transform: rotate(70deg);
  bottom: 280px;
  left: 148px;
  z-index: -2;
}

.legs1 {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.leg11,
.leg22 {
  width: 45px;
  height: 50px;
  background-color: #146696;
  position: relative;
  bottom: 180px;
  border-radius: 15px;
}

.foot {
  width: 60px;
  height: 30px;
  background-color: #222222;
  position: relative;
  top: 40px;
  right: 6px;
  border-radius: 20px;
}

.NAMES {
  position: relative;
  bottom: 150px;
  left: 10px;
  margin-bottom: 7px;

  @media (max-width: 1200px) {
    display: none;
  }
}